<div *ngIf="!showQuestion">
  <h3>Espere a que se procese su voto</h3>
</div>
<div *ngIf="showQuestion">
<h3>{{ question }}</h3>

<form *ngIf="!voted" [formGroup]="voteForm" (ngSubmit)="submitForm()">
  <div class="form-check" *ngFor="let opt of options; let i = index">
    <input
      type="radio"
      class="form-check-iput"
      formControlName="selected"
      [value]="i"
    />
    <label class="form-check-label"> {{ opt }} </label>
  </div>

  <button
    type="submit"
    class="btn btn-secondary mt-3"
    [disabled]="voteForm.invalid"
  >
    Submit vote
  </button>
</form>

<div *ngIf="voted" id="poll-results"></div>
</div>