<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand mr-auto" href="#">Blockchain Polls</a>
  <button
    type="button"
    class="btn btn-secondary"
    (click)="showForm = !showForm"
  >
    Create Poll
  </button>
  <button type="button" class="btn btn-secondary m-3" (click)="loadPolls()">
    Load Polls
  </button>
</nav>

<section class="jumbotron bg-light text-center">
  <h1>Polls Rethinked</h1>
  <p class="lead text-muted">Powered By Blockchain</p>
</section>

<app-poll-create
  *ngIf="showForm"
  (pollCreated)="handlePollCreate($event)"
></app-poll-create>

<div class="d-flex">
  <div class="container poll-list">
    <app-poll
      *ngFor="let poll of polls | async"
      [question]="poll.question"
      [voted]="poll.voted"
      [votes]="poll.results"
      [pollImage]="poll.thumbnail"
      (click)="setActivePoll(poll)"
    ></app-poll>
    <div>
      <h6>Instrucciones</h6>
      <ol>
        <li>
          <small>
          Loguearse a <b>Metamask</b> para acceder a la Blockchain
        </small>
        </li>
        <li>
          <small>
          Presionar <b>Load Polls</b> para cargar encuestas ya creadas
        </small>
        </li>
        <li>
          <small>
          Presionar <b>Create Poll</b> para crear nuevas encuestas
        </small>
        </li>
        <li>
          <small>
            Clickear una <b>encuesta</b> para desplegar las opciones y votar
        </small>
        </li>
        <li>
          <small>
          Volver a clickear la <b>encuesta</b> para ver los resultados
        </small>
        </li>
      </ol>

    </div>
  </div>
  <div class="container poll-detail">
    <app-poll-vote
      *ngIf="activePoll"
      [id]="activePoll.id"
      [voted]="activePoll.voted"
      [options]="activePoll.options"
      [question]="activePoll.question"
      [results]="activePoll.results"
      (pollVoted)="handlePollVote($event)"
    ></app-poll-vote>
  </div>
</div>
